body{
    /* background-color: rgb(194, 238, 180); */
    background-image: url(gameBg.jpg);
}

.cell{
   
    cursor: pointer;
  
    text-align:center;
    font-size: large;
  
    line-height: 80px;
   
    border-radius: 8px;
    margin:0;
    padding:0;
}

input:hover{
    background-color:rgb(249,217,206);
}

#boardContainer{
    /* background-color:rgb(194, 238, 180); */
    margin-top:230px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
    

}
#Msg{
    margin-left : 360px;
    margin-top: 50px;
    font-size: xx-large;
    font-weight: 800;
}
input{
    color:black;
    border: 0ch;
    margin:0;
    padding:0;
    /* background-color:rgb(194, 238, 180); */
    background-color: inherit;
}

#cell1 ,#cell2 ,#cell3 ,#cell4 ,#cell5 ,#cell6 {

    border-bottom: solid black 5px;
}

#cell1 ,#cell2 ,#cell4 ,#cell5 ,#cell7 ,#cell8{
    border-right: solid black 5px;
}
button{
    width:200px;
    height:60px;
    background-color:rgb(230, 188, 174);
    cursor: pointer;
}