body
{
    background-image: url(ToDo.jpg);
    height:100vh;
    width:100vw;
    background-repeat: no-repeat;
    background-size:cover;
    overflow: hidden;
}

.container
{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items: center;
  padding:50px;
  color:rgb(244, 244, 244);
}

form
{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

}

li
{
    height:30px;
    width:450px;
    font-size: larger;
    background-color:hsla(211, 38%, 87%, 0.4);
    color: rgb(252, 252, 251);
    border:rgb(11, 48, 151) solid 3px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:10px;

}

input
{
  
    color:rgb(0, 0, 0);
    height:30px;
    width:450px;
    font-size: larger;
    background-color:rgb(247, 247, 247);
    display:flex;
    justify-content:space-around;
    margin: 20px;
    align-items: center;
    padding:10px;
    border:solid rgb(241, 239, 239) 3px;
    border-radius: 20px;
    text-align: center;
    line-height: 5px;

}

.score
{
  min-height: 100px;
  color:rgb(112, 9, 9);
  padding: 3px 5px;
  text-align: center;
  font-size: 1000px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 2px;
  font-weight: 700;
  padding:8px;
  background-color: hsla(20,40,40,0.5);
  
}


.edit
{
    background-color: rgb(81,114,179);
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    border:solid 3px rgb(111,129,227);
}

.delete
{
    background-color: rgb(166,76,149);
    border: 5px solid rgb(7, 7, 55);
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    border:solid 3px rgb(111,129,227);
}

.done
{
    background-color: rgb(86, 196, 208);
    border: 5px solid rgb(7, 7, 55);
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    border:solid 3px rgb(111,129,227);
}
  
#submitNewTask
{
    width: 40%;
    background-color: rgb(45, 91, 170);
    border: none;
    color: rgb(13, 13, 75);
    font-weight: 800;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    border:solid 3px rgb(251, 250, 251);
    margin : auto;
    
    height:50px;
    width:200px;
    font-size: larger;
     
}


.tasks
{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}