*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
table , tr , td{
    border:5px solid black;
    background-color: rgb(189, 228, 224);
    

}
body{
    background-image: url(bgpic.jpg);
    background-size: cover;
    background-repeat: repeat;
    
    

}
table{
    width:100%;
    
}
input{
   
    text-align:center;
    border-radius: 40px;  
}
.container{
    width:50%;
    background-color: inherit;
    height:100vh;
    margin:auto;
    display: flex;
    justify-content: center;
    padding:2rem;
}
.container > div{
    background-color:rgba(87, 254, 243, 0.5);
    padding:2rem;
    margin:2rem;
    text-align: center;
    border-radius: 40px;
}
.container > div > form{
    padding:2rem;
    background-color: rgba(139, 227, 245, 0.3);
    margin-top:5rem;
    border-radius: 40px;
}
.container > div > form > button{
    padding:1.2rem;
    background-color: #63b8b8;
    color: white;
    width:100%;
    font-size:1.3rem;
    margin:auto 1rem;
    margin-top:3rem;
    border-radius: 40px;
}
.container > div > form > label , .container > div > form > input , .container > div > form > option , .container > div > form > select{
    padding:1.2rem;
    width:100%;
    text-align: center;
    margin:1rem 0rem;
}
p,a {
    font-size: 1.3rem;
    text-decoration: none;
    padding:1rem;
    margin-top: 2rem;
    display: inline;
    border-radius: 40px;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.btn{
    text-align: center;
    padding:2rem;
    margin:auto 2rem;
   cursor: pointer;
    color: rgb(4, 4, 4);
    
}
.logout , button {
    padding:1rem;
    color:white;
    background-color: rgb(226,125,95);
    border-radius: 30px;
    font-size: 1.1rem;
    float:right;
    cursor: pointer;
}
.card{
    width:50%;
    height:fit-content;
    padding:1rem;
    margin:auto;
    background-color: coral;
}
.card > h1 , h2,h3,h4,h5{
    padding:1rem;
}
h1{
    font-weight: 900;
    color: orangered;
    
}

.showusers{

    text-align: center;
    padding:2rem;
    margin:auto 2rem;
   
    color: rgb(4, 4, 4);
    color:white;
    background-color: rgb(226,125,95);
    border-radius: 10%;
    font-size: 1.3rem;
  margin:auto;

}
#logout{
    display:inline;
float:right;
margin-left: 80vw;
}




#Register{
    display:block;
}



#admin{
display:none;
}

#sales{
display:none;
}

#operations{
display:none;
}

#Login{
    display:none;
}